body {
    background-image: url('tlo_strona.png');
}

.obraz {
    position: absolute;
    width: 120vh;
    height: 60vh;
    border: solid black 1vh;
    right: 20%;
    top: 3vh;
    background-color: navajowhite;
}

.tekst {
    position: absolute;
    width: 120vh;
    height: 14vh;
    border: solid black 1vh;
    right: 20%;
    top: 64vh;
    background-color: navajowhite;
    font-family: 'Comic Sans MS';
}


.wyobory {
    position: absolute;
    width: 120vh;
    height: 15vh;
    border: solid black 1vh;
    right: 20%;
    top: 79vh;
    background-color: navajowhite;
    text-align: center;
}

.przyciski {
    background-color: #e0e0e0;
    height: 7vh;
    width: 14vh;
    margin-left: 2vh;
    margin-top: 3vh;
    border: solid black 0.5vh;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Comic Sans MS';
    font-size: 2vh;
}

#p1 {
    margin-left: 0;
}
p {
    margin-left:20px;

}
span {
    font-family: 'Comic Sans MS';
    font-size: 2vh;
}
